:root {
  --glow-color: #00ffff;
}

.custom-navbar {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 2px solid var(--glow-color);
  box-shadow: 0 0 15px var(--glow-color);
  border-radius: 15px;
  padding: 10px 30px;
  margin: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.glow-text {
  color: #fff !important;
  text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
}

.glow-link {
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 255, 255, 0.3);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.2);
  transition: all 0.3s ease;
  background-color: rgba(0, 255, 255, 0.05);
  display: inline-block;
  text-align: center;
}

.glow-link:hover {
  background-color: rgba(0, 255, 255, 0.1);
  box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
  color: var(--glow-color) !important;
}

.navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-toggler {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 255, 255, 0.3);
  background-color: rgba(0, 255, 255, 0.05);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.2);
  transition: all 0.3s ease;
}


.navbar-toggler:hover {
  background-color: rgba(0, 255, 255, 0.1);
  box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%280, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 992px) {
  .custom-navbar {
    padding: 10px 20px;
    margin: 10px;
  }

  .navbar-nav {
    margin-top: 15px;
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin: 10px 0;
  }

  .glow-link {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  .navbar-toggler {
    position: absolute;
    right: 15px;
    width: 60px;
    height: 40px;
    font-size: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .glow-text {
    font-size: 1.5rem;
  }
}
